footer{
    background:var(--footer);
    padding:4rem 0;
}
/* footer .container{
    display:flex;
    color:var(--pure);
} */
/* footer .box ul{
    list-style-type: none;
}

footer .box ul li a:hover{
    color:var(--primary);
} */
/* footer .box ul li a{
    color:var(--pure);
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
} */
footer .box h3{
    border-bottom:1px solid var(--linefooter);
    padding-bottom:1rem;
    margin-bottom:1rem;
}

/* footer .box p{
    line-height: 1.6;
    margin-bottom:1rem;
}
footer .box ul li{
    margin-bottom:1rem;
}
footer .box:nth-child(3) > div {
    display:flex;
    justify-content: center;
}
footer .box:nth-child(3){
    text-align: left;
}
footer .box:nth-child(3) h3{
    text-align: center;
}
footer .box:nth-child(3) > div img{
    margin-right:1rem;
}
footer .box:nth-child(3) ul li{
    margin-bottom:1.5rem;
} */