
:root {
  --primary:#ce7852;
  --text:#333;
  --hover:#e59285;
  --white: #fff;
  --black: #222;
  --pink: #f60091;
  --grey: #444;
  --grey2: #959595;
  --grey-alt: #d1e2e9;
  --yellow: #ffd800;
  --green: #59b210;
  --secondary:#232B38;
  --ternary:#6C6C6C;
  --danger:#FE4545;
  --pure:#FEFEFE;
  --light:#F0F0F0;
  --heaven:#FFFFFF;
  --footer:#2D333F;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  z-index: -1;
}

li,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 5rem;
  }
}
.flex{
  display:flex;
}
.justify-center{
justify-content:center;
}
.items-center{
align-items: center;
}
.text-center{
text-align: center;
}
section{
padding:4rem 0;
}
.section-heading{
 font-family: "Poppins", sans-serif;
  text-align:center;
  Position:relative;
  margin-bottom:6rem;
}
.section-heading:after{
  content:'';
  display:block;
  width: 100%;
  height:30px;
  background-image:url(https://res.cloudinary.com/lucy2619288/image/upload/v1618924508/logo/hr_chdwbm.svg);
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  bottom:-40px;
}

.btn{
padding: 0.75rem 0.75rem;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
line-height:0.8;
font-size: 1.5rem;
cursor: pointer;
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
border:1px solid transparent;
}

.btn-secondary{
background:var(--text);
color:var(--white); 
}
.btn-secondary:hover{
background:var(--white);
color:var(--text); 
border:1px solid var(--text);
}

/* ---------------- Header ------------ */
@import url("./components/headers/header.css");

/* ----------------Home ------------ */
@import url("./components/mainpages/homepage/home.css");
/* ----------------BreadCumb ------------ */
@import url("./components/mainpages/breadcumb.css");
/* ----------------Auth ------------ */
@import url("./components/mainpages/auth/auth.css");


