
section.about-us img{
    width: 50%;
    margin-left: 80px;
}

.flex-1{
    flex:1;
}
section.about-us h2{
    font-family: "Poppins", sans-serif;
    color:var(--secondary);
    margin-bottom:2rem;
    line-height:1.3;
}
section.about-us p{
    line-height: 1.7;
    margin-bottom:4rem;
}
@media (max-width:768px){
    section.about-us img{
        width: 25%;
        margin-left: 0px;
    }
    .about-us .about-us-wrap{
        flex-direction: column;
    }
    .about-us .about-us-wrap img{
        width:100%;
        margin-bottom: 2rem;
    }
}