.slide{
    background: url('./homepage/images/slider.jpg');
}
.breadcumbslide{
	position: relative;
	background: #2c3e50; /* darckblue */
}
.mybread{
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.bread_txt{
	position: absolute;
	margin:30px auto;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 45%;
	z-index: 1;
}
.bread_txt .ant-tag{
	border-radius: 5px;
}
.bread_txt .ant-breadcrumb{
	font-size: 20px;
}