.slide{
    background: url('./homepage/images/slider.jpg');
}
.breadcumbslide{
	position: relative;
	background: #2c3e50; /* darckblue */
}
.mybread{
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.bread_txt{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    z-index: 1;
}
.bread_txt .ant-tag{
	border-radius: 5px;
}
.bread_txt .ant-breadcrumb{
	font-size: 20px;
}
.ant-breadcrumb > span:last-child {
    color: rgb(204 189 189);
}

.ant-breadcrumb-separator {
	color: white;
}