.category input[type='text']{
    display: block;
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    background-color: #f1d4d4;
    outline: none;
    border: 0;
    font-size: 18px;
    margin-bottom: 30px;
}

.category button[type='submit']{
    width: 100%;
    background-color: var(--primary);
    color: white;
    padding: 14px 14px;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: .5s ease-in;
    border-radius: 14px;
    box-shadow: 0 5px 10px 0 #ce7852;
    -webkit-transition: .5s ease-in;
}

.category button[type='submit']:hover{
    background-color: var(--hover);
    box-shadow: 0 5px 10px 0 #e59285;
}


@media (max-width: 600px){
    .category .ant-row {
        display: block;
    }

    .category .ant-col-8 {
        display: block;
        flex: 0 0 33.33333333%;
        max-width: 100%;
    }

    .category .ant-col-4 {
        display: block;
        flex: 0 0 16.66666667%;
        max-width: 100%;
    }

    .category button[type='submit']{
        padding: 9px 14px;
        margin-bottom: 18px;

    }


}