.group {
    margin-bottom: 1.3rem;
  }
  .mr-b{
      margin-bottom:15px;
  }
  .group-control {
    width: 100%;
    padding: 1.5rem;
    border: none;
    background: #e8e8e8;
    outline: none;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
  }
  .group-search {
    width: 100%;
    padding: 1rem;
    font-size: 18px;
    background: white;
    transition: all 0.5s;
    border-radius: 5px;
    border: 2px solid var(--primary);
    outline: none;
    color: var(--primary);
    font-weight:500;
  }
  .group-control:focus {
    border-bottom-color: var(--primary);
  }
  .card{
      background:white;
      padding: 1.5rem;
  }
  .group label{
    font-size: 1.5rem;
	margin-bottom: .8rem;
    font-weight: 500;
  }
  #file{
    display: none;
  }
  .file__label {
	display: block;
	width: 100%;
	padding: 1.5rem;
	background: #b2bec3;
	color: white;
	cursor: pointer;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
}
.file__label:hover{
    background-color: var(#9ba5aa);
    box-shadow: 0 5px 10px 0 #9ba5aa;
}
.btn-form:hover{
    background-color: var(--hover);
    box-shadow: 0 5px 10px 0 #e59285;
}
.btn-form {
    width: 100%;
    padding: 1.5rem;
    border: none;
	background: var(--primary);
    outline: none;
    color: white;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 18px;
}
.btn-default{
    width: 20%;
    font-size: 15px;
}

.filePreview{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#img_post{
    width: 100%;
    height: auto;
}
#img_post img{
    width: 100%;
    height: auto;
}
#img_post .cancel{
    position: absolute;
    top: 97px;
    right: 23px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}

.search-pet button[type="submit"]
{
    background: var(--primary);
    color:white;
    border-radius: 5px;
}

.container-form{
    max-width: 80rem;
    margin: 0 auto;
}